.container {
  max-width: 120rem;
  margin: 0 auto;

  &--py {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  &--pt {
    padding-top: 15rem;
  }

  &--pb {
    padding-bottom: 15rem;
  }
}
