*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
}
@media (min-width: 80em) {
  h1 {
    font-size: 6rem;
    line-height: 7.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h6 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 3rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}
.container--px {
  padding-left: 2rem;
  padding-right: 2rem;
}
.container--py {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container--pt {
  padding-top: 3rem;
}
.container--pr {
  padding-right: 2rem;
}
.container--pb {
  padding-bottom: 3rem;
}
.container--pl {
  padding-left: 2rem;
}

body.noscroll {
  overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 12px;
  right: 29px;
  width: 42px;
  height: 42px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 42px;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #ededed;
}
@media (min-width: 80em) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle span {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 9px;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  display: block;
  font: 0/0 a;
  background-color: #ededed;
  text-shadow: none;
  color: transparent;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.menu-toggle span::before, .menu-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.menu-toggle span::before {
  top: -9px;
}
.menu-toggle span::after {
  bottom: -9px;
}
.menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
  background-color: #ededed;
}
.menu-toggle.is-clicked span::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.menu-toggle.is-clicked span::after {
  bottom: 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

html.ss-preload .home-content__main {
  opacity: 0;
}
html.ss-loaded .home-content__main {
  animation-duration: 2s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
html.no-csstransitions .home-content__main {
  opacity: 1;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #00aab3;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.oldie .pace {
  display: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: #212730;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  background-color: #00aab3;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.link {
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 3px;
  background-color: #00aab3;
  bottom: 0;
  transition: all 250ms ease-in;
}
.link:hover::before {
  width: 100%;
  left: 0;
}

.icon {
  font-size: 2.8rem;
}

.home-content__scroll {
  text-align: center;
  margin-top: 8rem;
}
.home-content__scroll a {
  position: relative;
  padding-right: 2rem;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #ededed;
}
.home-content__scroll a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  margin-top: -7px;
  border-right: 2px solid #00aab3;
  border-bottom: 2px solid #00aab3;
  display: block;
  pointer-events: none;
  transform-origin: 66% 66%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 7.2rem;
  background-color: #212730;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 501;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media (max-width: 79.9375em) {
  .header__logo {
    left: 40px;
  }
}
.header__logo a {
  display: block;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.header__logo a img {
  height: 5rem;
}
@media (max-width: 79.9375em) {
  .header__logo a img {
    height: 4rem;
  }
}
.header__nav-wrap {
  position: absolute;
  top: 0;
  right: 50px;
  letter-spacing: 0.25rem;
}
@media (max-width: 79.9375em) {
  .header__nav-wrap {
    right: auto;
    left: 0;
    width: 100%;
    height: auto;
    padding: 12rem 4rem 2.1rem;
    display: none;
    background-color: #212730;
  }
}
@media (min-width: 80em) {
  .header__nav-wrap {
    display: block !important;
  }
}
.header__nav {
  height: 7.2rem;
  margin: 0;
  display: inline-block;
}
@media (max-width: 79.9375em) {
  .header__nav {
    height: auto;
    margin: 0 0 4.2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    display: block;
  }
}
.header__nav li {
  margin-right: 2rem;
  padding-left: 0;
  display: inline-block;
}
@media (max-width: 79.9375em) {
  .header__nav li {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.07);
    display: block;
  }
}
.header__nav li a {
  display: block;
  line-height: 7.2rem;
  color: #ededed;
}
@media (max-width: 79.9375em) {
  .header__nav li a {
    padding: 1.8rem 0;
    line-height: 1.8rem;
  }
}
.header__nav li.current a {
  color: #00aab3;
}

.hero {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  padding-top: 9rem;
  background-color: #212730;
}
@media (min-width: 48em) {
  .hero {
    display: grid;
    place-items: center;
  }
}
@media (min-width: 80em) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: start;
  }
}
@media (min-width: 80em) {
  .hero__container {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    place-items: center;
  }
}
.hero__image {
  width: 70%;
  margin: 0 auto 2rem;
}
@media (min-width: 48em) {
  .hero__image {
    width: 80%;
  }
}
@media (min-width: 80em) {
  .hero__image {
    order: 2;
    width: 100%;
    margin: 0;
  }
}
.hero__text {
  text-align: center;
  color: #ededed;
}
.hero__text h1 {
  margin-bottom: 2rem;
  color: #00aab3;
}
.hero__text h2 {
  margin-bottom: 3.5rem;
}
.hero__social a {
  color: #ededed;
  transition: color 250ms ease-in;
}
.hero__social a:not(:last-child) {
  margin-right: 32px;
}
.hero__social a:hover {
  color: #00aab3;
}

/*# sourceMappingURL=main.css.map */
