*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
