@use '../abstracts/colors';
@use '../abstracts/mixins';

.footer {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: colors.$teal;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__social {
    margin-bottom: 3rem;

    a {
      margin: 1.5rem;

      @include mixins.breakpoint-up(tablet) {
        margin: 2rem;
      }
    }
  }
}
