@use '../abstracts/colors';
@use '../abstracts/mixins';

.projects {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: colors.$dark;

  @include mixins.breakpoint-up(desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    margin-bottom: 8rem;
    text-align: center;
    color: colors.$teal;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px 20px;

    @include mixins.breakpoint-up(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.breakpoint-up(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
